body{
    background: rgb(213, 224, 228);
     
}
.card{
    padding: 20px;
    max-width: 50%;
    margin: 0 auto;
    padding-top: 40px;
}
h1{
    margin: 0 auto;
}
label{
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 28px;
}
#num1, #num2, #selectedNum{
    display: block;
    margin-bottom: 20px; 
    padding: 10px;
    width: 90%;
    border: 0;
}
.play{
    display: none;
}
button{
    padding: 10px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.won, .loose, .maxAttempt{
    display: none;
    font-size: 20px;
    line-height: 24px;
    margin-top: 0;
}
#selectedNum:disabled{
    background-color: rgb(171, 171, 241);
}
.won{
    color: green;
}
.loose, .maxAttempt{
    color: red;
}
.reset{
    display: none;
}

@media (max-width: 767px){
    .card{
        max-width: 100%;
        padding-top: 20px;
    }
}
